input {
    display: block;
    margin: 5px;
    border: 2px solid black;
}

textarea {
    display: block;
    margin: 5px;
    border: 2px solid black;
}

button {
    display: block;
    margin: 5px;
    border: 2px solid black;
}


/*
[{
"name": "user 1",
"id": 1
}
{
"name": "user 2",
"id": 2
}]
*/