<top-bar (importAsJson)="importAsJson($event)" [mockResponse]="mockResponse">Loading...</top-bar>

<div class="container-fluid">
  <div class="row">
    <aside class="col-3">
      <div class="list-group">
        <div (click)="addMockResponse()" class="list-group-item list-group-item-action" [ngClass]="{'active': !mockResponse?.id}"
          title="Add new response">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
        <div *ngFor="let res of mockResponses" (click)="selectMockResponse(res)" [ngClass]="{'active': res?.id == mockResponse?.id}"
          class="list-group-item list-group-item-action">
          <div class="name-label">{{res.name}}</div>
          <span class="method-label text-uppercase">{{res.method}}: </span>{{res.endpoint}}
        </div>
      </div>
    </aside>

    <div class="col-9">
      <main>
        <div class="row align-items-end">

          <div class="form-group col-auto">
            <label class="form-control-label" for="">Method:</label>
            <select [ngClass]="{'is-invalid': errors['method']}" [(ngModel)]="mockResponse.method" name="method" class="form-control"
              data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom">
              <option [ngValue]="HttpMethodEnum.get">Get</option>
              <option [ngValue]="HttpMethodEnum.post">Post</option>
              <option [ngValue]="HttpMethodEnum.put">Put</option>
              <option [ngValue]="HttpMethodEnum.delete">Delete</option>
            </select>
          </div>

          <div class="form-group col">
            <label class="form-control-label" for="">Name:</label>
            <input [ngClass]="{'is-invalid': errors['name']}" [(ngModel)]="mockResponse.name" name="name" type="text" class="form-control"
              placeholder="Type name here..." data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom">
          </div>

          <div class="form-group col">
            <label class="form-control-label" for="">Endpoint:</label>
            <input [ngClass]="{'is-invalid': errors['endpoint']}" [(ngModel)]="mockResponse.endpoint" name="endpoint" type="text" class="form-control"
              placeholder="Enter URL here..." data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom">
          </div>

          <div class="form-group col-auto">
            <button [ngClass]="{'is-invalid': errors['body']}" (click)="saveMockResponse()" type="button" class="btn btn-primary" data-toggle="popover"
              data-html="true" data-trigger="hover" data-placement="bottom">Save</button>
            <button (click)="deleteMockResponse()" [disabled]="!mockResponse?.id" type="button" class="btn btn-danger">Delete</button>
          </div>

        </div>
        <div id="editor"></div>
      </main>
    </div>
  </div>
</div>
