<top-bar (export)="exportMockResponse()">Loading...</top-bar>

<div class="container-fluid">
  <div class="row">

    <div class="col-3">
      <aside>
        <div class="list-group">
          <button (click)="addMockResponse()" class="list-group-item list-group-item-action" [ngClass]="{'active': !mockResponse?.id}" title="Add new response">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <div *ngFor="let res of mockResponses" (click)="selectMockResponse(res)" [ngClass]="{'active': res?.id == mockResponse?.id}"
            class="list-group-item list-group-item-action">
            {{res.name}}
            <br>
            <span>{{res.method | sentenceCase}}</span>: {{res.endpoint}}
          </div>
        </div>
      </aside>
    </div>

    <div class="col-9">

      <main>
        <div class="row">

          <div class="form-group col-auto">
            <label class="form-control-label" for="">Method:</label>
            <select [ngClass]="{'is-invalid': errors['method']}" [(ngModel)]="mockResponse.method" name="method" class="form-control"
              data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom">
              <option [ngValue]="HttpMethodEnum.get">Get</option>
              <option [ngValue]="HttpMethodEnum.post">Post</option>
              <option [ngValue]="HttpMethodEnum.put">Put</option>
              <option [ngValue]="HttpMethodEnum.delete">Delete</option>
            </select>
          </div>

          <div class="form-group col">
            <label class="form-control-label" for="">Name:</label>
            <input [ngClass]="{'is-invalid': errors['name']}" [(ngModel)]="mockResponse.name" name="name" type="text" class="form-control"
              placeholder="Type name here..." data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom">
          </div>

          <div class="form-group col">
            <label class="form-control-label" for="">Endpoint:</label>
            <input [ngClass]="{'is-invalid': errors['endpoint']}" [(ngModel)]="mockResponse.endpoint" name="endpoint" type="text" class="form-control"
              placeholder="Enter URL here..." data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom">
          </div>

          <div class="form-group col-auto align-self-end">
            <button [ngClass]="{'is-invalid': errors['body']}" (click)="saveMockResponse()" type="button" class="btn btn-primary" data-toggle="popover"
              data-html="true" data-trigger="hover" data-placement="bottom">Save</button>
            <button (click)="deleteMockResponse()" [disabled]="!mockResponse?.id" type="button" class="btn btn-danger">Delete</button>
          </div>

        </div>
        <div id="editor"></div>
      </main>
    </div>
  </div>
</div>
