.container-fluid {
    height: 90%;
}

.row {
    height: 100%;
}

aside {
    height: 100%;
}

aside > .list-group {
    height: 100%;
    padding-top: 5px;
    overflow: scroll;
}

aside > .list-group > div:first-child {
    font-size: 2rem;
    text-align: center;
}

.name-label {
    color: #007bff;
    font-weight: 500;
}

.method-label {
    font-weight: 700;
    font-size: 1.2rem;
}

main {
    height: 100%;
    padding: 8px;
}

main > .row {
    height: 15%;
}

#editor {
    width: 100%;
    height: 85%;
}

.a {
    padding: 5px;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    margin: 5px;
}

label {
    font-weight: 700;
    font-size: 0.8rem;
    color: #495057;
}

.is-invalid {
    border-color: #dc3545;
}

.list-group-item-action {
    cursor: pointer;
}

.list-group-item {
    padding: 5px;
}

